extends layout/layout

block vars
	-title = 'Welcome to Gulp Template workflow'
	-bodyClass = 'home-page'

block container
	p Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus eum voluptate nulla, eius dolorem placeat illum ex laboriosam, nam sint, sunt alias possimus omnis nesciunt aliquid magnam voluptatum molestiae eveniet.
	h2(class="heading") this is tittle
	h2.head
	ul.list
		li.list-item
			h2.list-title
			span.list-caption heloo  