section.team
    .container
        +blockBox("who we are", "meet our team", "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.")
        .team-list
            +teamIteam("../images/img-team1.png", "Matthew dix", "graphic design")
                +teamSocial
            +teamIteam("../images/img-team2.png", "Christopher campell", "branding/UX design")
                +teamSocial
            +teamIteam("../images/img-team3.png", "Matthew dix", "developer")
                +teamSocial
section.brand
    .container
        img(src="../images/img-logos.png")