section.about
    .container
        +blockBox("what we do", "story about us", "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.")
        .about-list
            +aboutItem("../images/img-about1.png", "Super Team", "fa fa-users", "#")
            +aboutItem("../images/img-about1.png", "Super Team", "fa fa-users", "#")
            +aboutItem("../images/img-about1.png", "Super Team", "fa fa-users", "#")
            .about-item
                img.about-image(src="../images/img-about1.png")
                .about-content
                    i.fa.fa-users.about-icon
                    span.about-title Super Team
            .about-item
                img.about-image(src="../images/img-about2.png")
                .about-content
                    i.fa.fa-users.about-icon
                    span.about-title Super Team
            .about-item
                img.about-image(src="../images/img-about3.png")
                .about-content
                    i.fa.fa-users.about-icon
                    span.about-title Super Team