footer.footer
    .container
        .footer-top
            .footer-column
                a(href="index.html").footer-heading.footer-heading--logo MoGo
                p.footer-desc.text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                p.footer-follow <strong>15k</strong> followers
                .footer-social
                    span.text Follow Us:
                    .footer-social-list
                        a.footer-social-icon(href="#")
                            i.fab.fa-facebook-f
                        a.footer-social-icon(href="#")
                            i.fab.fa-twitter
                        a.footer-social-icon(href="#")
                            i.fab.fa-instagram
                        a.footer-social-icon(href="#")
                            i.fab.fa-pinterest
                        a.footer-social-icon(href="#")
                            i.fab.fa-google
                        a.footer-social-icon(href="#")
                            i.fab.fa-youtube
                        a.footer-social-icon(href="#")
                            i.fab.fa-linkedin
                form.footer-form(action="javascript:void(0)")
                        input(type="email" placeholder="Your Email").footer-form-input
                        button.footer-form-button Subscrise
            .footer-column
                h3.footer-heading Blogs
                +footerBlog("../images/img-blogs1.png")
                +footerBlog("../images/img-blogs2.png")
                +footerBlog("../images/img-blogs3.png")
            .footer-column
                h3.footer-heading Instagram
                .footer-images
                    .footer-image
                        img(src="../images/img-instagram1.png")
                    .footer-image
                        img(src="../images/img-instagram1.png")
                    .footer-image
                        img(src="../images/img-instagram1.png")
                    .footer-image
                        img(src="../images/img-instagram1.png")
                    .footer-image
                        img(src="../images/img-instagram1.png")
                    .footer-image
                        img(src="../images/img-instagram1.png")
                    .footer-image
                        img(src="../images/img-instagram1.png")
                    .footer-image
                        img(src="../images/img-instagram1.png")
                    .footer-image
                        img(src="../images/img-instagram1.png")
        .footer-bottom &copy; 2021 Design by <span>Tan Tan</span>