footer.footer
    .container
        .footer-top
            .footer-column
                h3.footer-heading MoGo
                p.footer-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                p.footer-follow <strong>15k</strong> followers
                .footer-social
                    span Follow Us:
                    .footer-social-list
                        i.fab.fa-facebook
                        i.fab.fa-facebook
                        i.fab.fa-facebook
                        i.fab.fa-facebook
            .footer-column 
            .footer-column 
        .footer-bottom &copy; 2021 Design by <span>Tan Tan</span>