section.number
    .container
        .number-list
            +numberItem("42", "Web design project")
            +numberItem("42", "Web design project")
            +numberItem("42", "Web design project")
            +numberItem("42", "Web design project")
            +numberItem("42", "Web design project")