section.number
    .container
        .number-list
            +numberItem("42", "Web design project")
            +numberItem("123", "clients")
            +numberItem("15", "award winner")
            +numberItem("99", "cup of coffee")
            +numberItem("24", "members")