section.people
    .container
        +blockBox("happy clients", "what people say")
        ul.people-list
            li.people-item
                img.people-avatar(src= "../images/img-people1.png")
                .people-info
                    h3.people-info-name Matthew
                    span.people-info-position Design
                    p.people-info-desc Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam eligendi praesentium ea maxime eius, modi commodi magni exercitationem fugit impedit a beatae est unde hic repellat perferendis quos eaque cum?
            li.people-item
                img.people-avatar(src= "../images/img-people1.png")
                .people-info
                    h3.people-info-name Matthew
                    span.people-info-position Design
                    p.people-info-desc Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam eligendi praesentium ea maxime eius, modi commodi magni exercitationem fugit impedit a beatae est unde hic repellat perferendis quos eaque cum?
            li.people-item
                img.people-avatar(src= "../images/img-people1.png")
                .people-info
                    h3.people-info-name Matthew
                    span.people-info-position Design
                    p.people-info-desc Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam eligendi praesentium ea maxime eius, modi commodi magni exercitationem fugit impedit a beatae est unde hic repellat perferendis quos eaque cum?
            li.people-item
                img.people-avatar(src= "../images/img-people1.png")
                .people-info
                    h3.people-info-name Matthew
                    span.people-info-position Design
                    p.people-info-desc Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam eligendi praesentium ea maxime eius, modi commodi magni exercitationem fugit impedit a beatae est unde hic repellat perferendis quos eaque cum?