section.people
    .container
        +blockBox("happy clients", "what people say")
        ul.people-list
            +peopleItem("../images/img-people1.png", "matthew dixs", "graphic design")
            +peopleItem("../images/img-people2.png", "jaelynn castillo", "graphic design")
            +peopleItem("../images/img-people3.png", "nick karvounis", "graphic design")
            +peopleItem("../images/img-people4.png", "mike petrucci", "graphic design")