section.people
    .container
        +blockBox("happy clients", "what people say")
        ul.people-list
            li.people-item
                img.people-avatar(src= "../images/img-people1.png")