section.quote
    .container
        .quote-container
            i.fa.fa-angle-left.quote-arrow-left
            .quote-content
                .quote-icon
                    img(src= "../images/img-quote.png")
                    .quote-info
                        p.quote-info-desc Lorem ipsum dolor sit amet, consectetur adip
                        span.quote-info-author John Doe
            i.fa.fa-angle-right.quote-arrow-right