section.service
    .container
        +blockBox("we work with", "amazing service")
        .service-list
            .service-item
                i.service-item-icon
                .service-item-info
                    h3.service-item-title
                    p.service-item-desc
            +serviceItem("fa fa-cog", "a", "b")