section.service
    .container
        +blockBox("we work with", "amazing service")
        .service-list
            +serviceItem("fa fa-cog", "a", "b")
            +serviceItem("fa fa-cog", "a", "b")
            +serviceItem("fa fa-cog", "a", "b")