section.story
    .container
        +blockBox("our stories", "lasted blog")
        ul.story-list
            li.story-item
                .story-media
                    img.story-image(src="../images/img-blog1.png")