section.team
    .container
        +blockBox("who we are", "meet our team", "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.")
        .team-list
            .team-item
                .team-item-main
                    img(src= "../images/img-team1.png").team-item-image
                    .team-item-content
                        ul.team-social
                            li.team-social-item
                                a.team-social-link(href="#")
                                    i.fab.fa-facebook-f
                            li.team-social-item
                                a.team-social-link(href="#")
                                    i.fab.fa-facebook-f
                            li.team-social-item
                                a.team-social-link(href="#")
                                    i.fab.fa-facebook-f
                            li.team-social-item
                                a.team-social-link(href="#")
                                    i.fab.fa-facebook-f
                .team-item-info
                    h3.team-item-name Tan
                    span.team-item-position Tan