section.wedo
    .container
        +blockBox("service", "what we do", "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.")
        .wedo-container
            img(src="../images/img-wedo.png")