section.wedo
    .container
        +blockBox("service", "what we do", "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.")
        .wedo-container
            img(src="../images/img-wedo.png")
            .wedo-content
                +wedoItem("../images/img-wedo-icon1.png", "ABC", "fa fa-user", "lorem ipsum dolor sit amet, consectetur adip")
                .wedo-item
                    .wedo-item-header
                        img(src="../images/img-wedo-icon1.png").wedo-item-icon
                        h3.wedo-item-title Photography
                        i.fa.fa-angle-up.wedo-item-arrow
                    .wedo-item-content Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum magnam suscipit, mollitia assumenda ea eaque, nisi consequatur expedita dolore error ipsa tempora? Placeat molestiae nostrum ab eligendi maxime asperiores doloremque!