section.wedo
    .container
        +blockBox("service", "what we do", "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.")
        .wedo-container
            img(src="../images/img-wedo.png").wedo-image
            .wedo-content
                +wedoItem("../images/img-wedo-icon1.png", "ABC", "fa fa-user", "lorem ipsum dolor sit amet, consectetur adip")
                +wedoItem("../images/img-wedo-icon2.png", "ABC", "fa fa-user", "lorem ipsum dolor sit amet, consectetur adip")
                +wedoItem("../images/img-wedo-icon3.png", "ABC", "fa fa-user", "lorem ipsum dolor sit amet, consectetur adip")