section.work
    .container
        +blockBox("what we do", "some of our work", "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.")
    .work-list
        .work-column
            +workItem("../images/img-work1.png", "fa fa-home", "Creative", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, quam? Quis mollitia expedita nisi veniam accusamus alias est dolores, magni libero doloribus repellendus voluptatum tempore nulla ab aliquam eaque harum!")
            +workItem("../images/img-work2.png", "fa fa-home", "Creative", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, quam? Quis mollitia expedita nisi veniam accusamus alias est dolores, magni libero doloribus repellendus voluptatum tempore nulla ab aliquam eaque harum!")
        .work-column
            +workItem("../images/img-work3.png", "fa fa-home", "Creative", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, quam? Quis mollitia expedita nisi veniam accusamus alias est dolores, magni libero doloribus repellendus voluptatum tempore nulla ab aliquam eaque harum!")
            +workItem("../images/img-work4.png", "fa fa-home", "Creative", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, quam? Quis mollitia expedita nisi veniam accusamus alias est dolores, magni libero doloribus repellendus voluptatum tempore nulla ab aliquam eaque harum!")
        .work-column
            .work-item.work-item-full
                img.work-image(src="../images/img-work5.png")
                .work-content
                    i.fa.fa-home.work-icon
                    h3.work-title Creative
                    span.work-desc.text.text--light Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, quam? Quis mollitia expedita nisi veniam accusamus alias est dolores, magni libero doloribus repellendus voluptatum tempore nulla ab aliquam eaque harum!
        .work-column
            .work-item
                img.work-image(src="../images/img-work6.png")
                .work-content
                    i.fa.fa-home.work-icon
                    h3.work-title Creative
                    span.work-desc.text.text--light Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, quam? Quis mollitia expedita nisi veniam accusamus alias est dolores, magni libero doloribus repellendus voluptatum tempore nulla ab aliquam eaque harum!
            .work-item
                img.work-image(src="../images/img-work7.png")
                .work-content
                    i.fa.fa-home.work-icon
                    h3.work-title Creative
                    span.work-desc.text.text--light Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, quam? Quis mollitia expedita nisi veniam accusamus alias est dolores, magni libero doloribus repellendus voluptatum tempore nulla ab aliquam eaque harum!